<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 change-container">
      <form [formGroup]="form" (ngSubmit)="submitPasswordChange()">
        <div class="form-group">
            <label for="">Old Password</label>
            <input formControlName="oldPassword" type="password" class="form-control">
            <div
            *ngIf="oldPassword.touched && oldPassword.invalid"
            class="alert-danger">
                <div *ngIf="oldPassword.errors.required">
                    Old password is required
                </div>
                <div *ngIf="oldPassword.errors.invalidOldPassword">
                        Old password is invalid
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control">
            <div
            *ngIf="newPassword.touched && newPassword.invalid"
            class="alert-danger">
            <div *ngIf="newPassword.errors.required">New password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control">
            <div
            *ngIf="confirmPassword.touched && confirmPassword.invalid"
            class="alert-danger">
                <div *ngIf="confirmPassword.errors.required">
                    Confirm password is required
                </div>
            </div>
            <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
                Passwords do not match
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
      </form>
    </div>
    <div class="col-sm-3">

    </div>

  </div>
</div>
