<div id = "nav-bar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/home">Movie Reviews</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    </div>
    <div class="login-account">
      <!--Button for the user to log in-->
      <div class="dropdown" id="login" *ngIf="!isLoggedIn">
        <app-login-dropdown></app-login-dropdown>
      </div>

      <!--If the user is logged in then show account name and if clicked give options-->
      <div class="dropdown" id="account" *ngIf="isLoggedIn">
        <app-account-dropdown></app-account-dropdown>
      </div>
    </div>
    <div class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/search">Search</button>
    </div>
  </nav>
</div>

<div class="main-content">
  <app-movie></app-movie>
  <!--<router-outlet></router-outlet>-->
</div>

