<div class="container">
  <div class="main-movie-container">
    <!--
      Movie Information row
        Left column would be for movie image
        Right column would have the information on the movie such as title, description, etc.
    -->
    <div class="row details-movie">
      <!--Movie image or picture-->
      <div class="col-sm-4 movie-image">

      </div>

      <!--Movie description and information-->
      <div class="col-sm-8 movie-details">
        <h3>Movie Title</h3>
        <h6>description</h6>
        <h6>Release Year</h6>
        <h6>Other Info</h6>
        <h6>More Info</h6>
        <h6>Even more Info</h6>
        <h6>Can i get more info!</h6>
      </div>
    </div>

    <!--Reviews for the movie in question-->
    <div class="row">
      <div class="col-sm-12">
        <app-display-reviews [MovieId]="movieId"></app-display-reviews>
      </div>
    </div>

    <!--Create a new review-->
    <div class="row">
      <div class="col-sm-12">
        <app-create-review [MovieId]="movieId" (newReview)="setCreatedReview($event)"></app-create-review>
      </div>
    </div>

  </div>
</div>
