<div class="container">
  <div class="main-movie-container">
    <!--
      Movie Information row
        Left column would be for movie image
        Right column would have the information on the movie such as title, description, etc.
    -->
    <div class="row">
      <!--Movie image or picture-->
      <div class="col-sm-4">

      </div>

      <!--Movie description and information-->
      <div class="col-sm-8">

      </div>
    </div>

    <!--Reviews for the movie in question-->
    <div class="row">
      <div class="col-sm-12">
        <app-display-reviews [MovieId]="movieId"></app-display-reviews>
      </div>
    </div>

    <!--Create a new review-->
    <div class="row">
      <div class="col-sm-12">
        <app-create-review [MovieId]="movieId" (newReview)="setCreatedReview($event)"></app-create-review>
      </div>
    </div>

  </div>
</div>
